.DS_Store
__pycache__/
data/
paper/generated/
.gabriel/

# output
*.pdf
*.pgf
*.csv

# latex
*.aux
*.bbl
*.blg
*.brf
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc
*.nav
*.snm
*.vrb
*.xdv
*.run.xml
*.bcf
*.dvi
*.ps
*-blx.bib
*SAVE-ERROR
